html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #4d1d18;
}

body{
font-family: Helvetica, Calibri, Arial, sans-serif;
}

header{
    height: 70px;
    background-color: rgb(233, 223, 223);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    box-shadow: 2px 2px 4px gray;
}

.logo{
    font-weight: 600;
    font-size: 23px;
}

.logo a:hover{
    color: #4d1d18;
    background: rgb(233, 223, 223);
}

header a:hover{
    color: #555;
    font-weight: bold;
    transition: 0.5s;
}

header ul, li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
}

header ul li{
    font-size: 16px;
}

header a{
    text-decoration: unset;
    color: #4d1d18;
}

.banner{
    background-image: url("./images/Sorrento_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    /* border-bottom: 5px solid rgb(233, 223, 223); */
}

.apartment_banner{
    background-image: url("../images/apartment_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hightlights_banner{
    background-image: url("../images/hightlights_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pet_banner{
    background-image: url("../images/pet_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_banner{
    background-image: url("../images/price_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.get_there_banner{
    background-image: url("../images/getting_there_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    width: auto;
    border-bottom: 5px solid rgb(233, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us_banner{
    background-image: url("../images/sorrento_by_the_sea_logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #64221c;
    background-position: center;
    height: 200px;
    margin-top: 70px;
    width: auto;
}


h1{
    font-size: 60px;
    /* color: rgb(233, 223, 223); */
    color: white;
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

h3{
    font-size: 22px;
    font-style: italic;
    text-align: center;
}
.layout{
    display: flex;
    background-color: rgb(245, 211, 198);
    padding: 30px 40px;
}

.layout p{
    text-align: left;
    margin-left: 0;
    line-height: 250%;
}

.layout h2 {
    font-size: 20px;
    font-style: italic;
}

.layout img{
    height: 400px;
    width: auto;
    border: 8px solid rgb(233, 223, 223);
    margin-top: 20%;
}

.forms{
    background-color: rgb(245, 211, 198);
    padding: 30px 40px;
}

.forms h2{
    font-size: 20px;
    font-weight: bold;
}

#left p{
    text-align: left;
    margin-left: 0;
    line-height: 250%;
}

#left h2{
    font-size: 20px;
    font-style: italic;
}

#left img{
    height: 140px;
    width: auto;
    border: 8px solid rgb(233, 223, 223);
}
span{
    font-size: 30px;
    font-style: italic;
}

#left{
    background-color: rgb(245, 211, 198);
    padding: 30px 40px;
}


p{
    margin-left: 20px;
    line-height: 250%;
    text-align: left;
    font-size: 16px;
    margin-right: 20px;
}

#container{
    display: flex;
    padding: 20px 20px;
    background-color: rgb(245, 211, 198);

}
#container img{
    margin-top: 10px;
    height: auto;
    width: 300px;
    border: 8px solid rgb(233, 223, 223);
}

#container_btm{
    display: flex;
    padding: 20px 20px;
    background-color: rgb(245, 211, 198);

}
#container_btm img{
    margin-top: 10px;
    height: auto;
    width: 300px;
    border: 8px solid rgb(233, 223, 223);
}

input[type=email], input[type=text], input[type=tel],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #64221c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

footer{
    background-color: rgb(233, 223, 223);
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer a{
    text-decoration: unset;
    color: black;
}

footer ul, li{
    display: flex;
    justify-content: center;
    color: black;
}

footer li{
    margin-left: 15px;
    margin-right: 6px;
}

footer img{
    width: 20px;
    height: 20px;
}